<template lang="pug">
  div.wrapper-question
    div(v-if="step === 0")
      .title {{$t('price.howmanyartists')}}
      options(key="artists", :options="numberOptions", :storeValue.sync="number", :active="true")
    div(v-if="step === 1")
      p.titleartist {{$t('price.artist')}} {{artist + 1}}
      p.subtitle {{$tc('price.lefttoright', (this.artist + 1), {ordinal: this.ord})}}
      div.dashed
        p.title {{$t('price.answerwhatyouknow')}}
        div.subsection
          p.subquestion {{$t('price.genderquestion')}}
          options(ref="gender", key="`artist-gender-${artist}`", :options="genderOptions", :storeValue.sync="artistTemplate.gender", :active="true")

        .subsection
          p.subquestion {{$t('price.agequestion')}}
          options(ref="age", key="`artist-age-${artist}`", :options="ageOptions", :storeValue.sync="artistTemplate.age", :active="false")

        .subsection
          p.subquestion {{$t('price.artisticquestion')}}
          b-input(v-model="artistTemplate.artisticName")

        .subsection
          p.subquestion {{$t('price.namequestion')}}
          b-input(v-model="artistTemplate.name")

        .subsection
          p.subquestion {{$t('price.surnamequestion')}}
          b-input(v-model="artistTemplate.surname")

        .subsection
          p.subquestion {{$t('price.nationalityquestion')}}
          b-input(v-model="artistTemplate.nationality")

        .subsection
          button.button.is-primary(v-if="next", @click="nextArtist") {{$t('actions.next')}}
          button.button.is-primary(v-else, @click="save") {{$t('actions.save')}}

</template>
<script>
import {filter, clone} from 'lodash'
import options from '~/components/form/optionlist.vue'
import price from '~/mixins/price.js'
import contribpages from '~/mixins/contribpages.js'
import basic from '~/mixins/basic.js'
import { ord } from '~/utils/ordinales.js'
export default {
  components: { options },
  mixins: [price, basic, contribpages],
  props: ['taskId'],
  computed: {
    next () {
      if ((this.artist + 1) === this.number) {
        return false
      } else {
        return true
      }
    },
    ord () {
      return ord(this.artist + 1)
    }
  },
  mounted () {
    this.resetArtistTemplate()
    this.$store.commit('set', {key: 'transitionName', val: 'zoomout'})
    let task = this.$store.state.activeTask
    if (task) {
      let project = filter(this.$store.state.projects, {id: task.project_id})
      project = project[0]
      this.signTask(project.short_name, task.id)
    }
  },
  data () {
    return {
      step: 0,
      number: 0,
      artist: 0,
      artists: [],
      artistTemplate: {},
      numberOptions: [
        {activationKey: 'a', storeValue: 1, text: '1'},
        {activationKey: 'b', storeValue: 2, text: '2'},
        {activationKey: 'c', storeValue: 3, text: '3'},
        {activationKey: 'd', storeValue: 4, text: '4'},
        {activationKey: 'e', text: this.$t('price.morethanfour'), other: true}
      ],
      genderOptions: [
        {activationKey: 'a', storeValue: 'hombre', text: this.$t('price.male')},
        {activationKey: 'b', storeValue: 'mujer', text: this.$t('price.female')},
        {activationKey: 'c', storeValue: 'indefinido', text: this.$t('price.indefinido')}
      ],
      ageOptions: [
        {activationKey: 'a', storeValue: 'adulto', text: this.$t('price.adult')},
        {activationKey: 'b', storeValue: 'niño', text: this.$t('price.kid')}
      ]
    }
  },
  methods: {
    resetArtistTemplate () {
      this.artistTemplate = {
        gender: '',
        age: '',
        artisticName: '',
        name: '',
        surname: '',
        nationality: ''
      }
    },
    nextArtist () {
      this.artists[this.artist] = clone(this.artistTemplate)
      this.resetArtistTemplate()
      this.$refs.gender.reset()
      this.$refs.age.reset()
      if (this.number > 1) {
        this.$scrollTo('#top')
      }
      this.artist += 1
    },
    save () {
      this.nextArtist()
      let tmp = {number: this.number, artists: this.artists}
      this._save(tmp)
    }
  },
  watch: {
    number () {
      for (let i = 0; i < this.number; i++) {
        this.artists.push({
          gender: '',
          age: '',
          artisticName: '',
          name: '',
          surname: '',
          nationality: ''
        })
      }
      this.step += 1
    }
  }
}
</script>
<style lang="scss">
.wrapper-question {
  background-color: white;
  padding: 19px;
  min-height: calc(100vh - 192px);
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
.titleartist {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #212529;
}

.subtitle {
  opacity: 0.5;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #212529;
}

.dashed {
  border-left: 1px dashed #979797;
  padding-left: 10px;
  .subquestion {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #000000;
  }
  .subsection {
    margin-bottom: 34px;
  }
}
</style>
