<template lang="pug">
  div.info
    span.titleArtist {{$t('price.artists')}}
    template(v-for="(artist, idx) of artists")
      .info(v-bind:key="idx", style="margin-bottom: 15px;")
        img(:src="icon(artist)", :style="iconStyle(artist)")
        span.name(v-if="artist.name === ''") {{artist.artisticName}}
        span.name(v-else) {{artist.name}} {{artist.surname}}, {{artist.nationality}}
        span.name(style="opacity:0.3", v-if="artist.name === '' && artist.name === '' && artist.surname === ''") Nombre: --, Nacionalidad: --
</template>
<script>
export default {
  props: ['task'],
  data () {
    return {
      'hombre-adulto': [require('~/assets/faces/man.svg'), {width: '100px', 'margin-bottom': '5px'}],
      'mujer-adulto': [require('~/assets/faces/woman.svg'), {width: '100px', 'margin-bottom': '5px'}],
      'hombre-niño': [require('~/assets/faces/boy.svg'), {width: '100px', 'margin-bottom': '5px'}],
      'mujer-niño': [require('~/assets/faces/girl.svg'), {width: '100px', 'margin-bottom': '5px'}]
    }
  },
  methods: {
    icon (artist) {
      return this.$data[`${artist.gender}-${artist.age}`][0]
    },
    iconStyle (artist) {
      return this.$data[`${artist.gender}-${artist.age}`][1]
    }
  },
  computed: {
    artists () {
      if (this.task.result !== null) {
        let tmp = []
        for (const artist of this.task.result.info.artistsAnalysis) {
          let keys = Object.keys(artist)
          let obj = {}
          for (const key of keys) {
            obj[key] = artist[key].top
          }
          tmp.push(obj)
        }
        return tmp
      } else {
        return this.task.taskrun.artists
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.titleArtist {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #212529;
  margin-bottom: 20px;
  margin-top: 22px;
}
.info, .subinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  margin-bottom: 22px;
}
.name {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
</style>
