<template lang="pug">
  div.info-author
    b-icon(icon="camera") 
    span.title-author {{$t('price.autor')}}: {{task.result.info.autor}}
</template>
<script>
export default {
  props: ['task']
}
</script>
<style lang="scss">
.title-author {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  color: #021f27;
}
.info-author {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
