<template lang="pug">
  div.info
    h1.title-year {{task.result.info.fecha}}
    h2.circo {{task.result.info.circo}}
    h3.lugar {{task.result.info.lugar}}
</template>
<script>
export default {
  props: ['task']
}
</script>
<style lang="scss">
.title-year {
  font-size: 24px;
}
.info, .subinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circo {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #212529;
}

.lugar {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}
</style>
