<template lang="pug">
  div.info
    img(:src="icon", style="margin-bottom: 10px;")
    span.name.is-capitalized {{discipline}}
</template>
<script>
export default {
  props: ['task'],
  computed: {
    icon () {
      let tmp = this.discipline.normalize('NFD').replace(/[\u0300-\u036f]/g, '')
      return require(`~/assets/disciplines/${tmp}.svg`)
    },
    discipline () {
      if (this.task.result !== null) {
        return this.task.result.info.discipline.top
      } else {
        return this.task.taskrun.discipline
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.titleArtist {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #212529;
  margin-bottom: 20px;
  margin-top: 22px;
}
.info, .subinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  margin-top: 22px;
  margin-bottom: 22px;
}
.name {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}
</style>
