<template lang="pug">
  div.wrapper-question
    span.title {{$t('price.whichdiscipline')}}
    options(v-if="step === 0", key="discipline", :options="disciplineOptions", :storeValue.sync="discipline", :active="true")
    options(v-if="step === 1", key="subdiscipline", :options="subdisciplineOptions", :storeValue.sync="subdiscipline", :active="false")
</template>
<script>
import price from '~/mixins/price.js'
import basic from '~/mixins/basic.js'
import contribpages from '~/mixins/contribpages.js'
import {filter, indexOf} from 'lodash'
import options from '~/components/form/optionlist.vue'
export default {
  mixins: [price, basic, contribpages],
  props: ['taskId'],
  components: { options },
  mounted () {
    this.$store.commit('set', {key: 'transitionName', val: 'zoomout'})
    let task = this.$store.state.activeTask
    if (task) {
      let project = filter(this.$store.state.projects, {id: task.project_id})
      project = project[0]
      this.signTask(project.short_name, task.id)
    }
  },
  data () {
    return {
      discipline: '',
      subdiscipline: '',
      step: 0,
      withSubdisciplines: [
        'acrobacia',
        'malabares',
        'payaso',
        'equilibrismo',
        'bicicletas',
        'domador',
        'aerial'
      ],
      disciplineOptions: [
        {activationKey: 'a', storeValue: 'acrobacia', text: this.$t('price.acrobacia'), img: '/disciplines/Cama-elastica'},
        {activationKey: 'b', storeValue: 'malabares', text: this.$t('price.malabares'), img: '/disciplines/Malabares-con-aros'},
        {activationKey: 'c', storeValue: 'payaso', text: this.$t('price.payaso'), img: '/disciplines/clown'},
        {activationKey: 'd', storeValue: 'contorsión', text: this.$t('price.contorsion'), img: '/disciplines/Contorsion'},
        {activationKey: 'e', storeValue: 'equilibrismo', text: this.$t('price.equilibrismo'), img: '/disciplines/Equilibrio-sobre-escalera'},
        {activationKey: 'f', storeValue: 'bicicletas', text: this.$t('price.bicicletas'), img: '/disciplines/Bikes'},
        {activationKey: 'g', storeValue: 'domador', text: this.$t('price.domador'), img: '/disciplines/Domador'},
        {activationKey: 'h', storeValue: 'numero-aereo', text: this.$t('price.numeroaereo'), img: '/disciplines/Aereo-Trapecio-Washington'},
        {activationKey: 'i', storeValue: 'faquirismo', text: this.$t('price.faquirismo'), img: '/disciplines/faquirismo'},
        {activationKey: 'j', storeValue: 'magia', text: this.$t('price.magia'), img: '/disciplines/magia'},
        {activationKey: 'k', storeValue: 'forzudo', text: this.$t('price.forzudo'), img: '/disciplines/forzudo'},
        {activationKey: 'l', storeValue: 'transformismo', text: this.$t('price.transformismo'), img: '/disciplines/transformismo'},
        {activationKey: 'm', storeValue: 'ventriloquia', text: this.$t('price.ventriloquia'), img: '/disciplines/Ventriloquia'},
        {activationKey: 'o', storeValue: 'lanza-cuchillos', text: this.$t('price.lanzacuchillos'), img: '/disciplines/Lanzacuchillos'},
        {activationKey: 'p', storeValue: 'jefe-de-pista', text: this.$t('price.jefedepista'), img: '/disciplines/jefe-de-pista'},
        {activationKey: 'q', storeValue: 'presentador', text: this.$t('price.presentador'), img: '/disciplines/presentador'}
      ],
      acrobaticsOptions: [
        {activationKey: 'a', storeValue: 'acrobacia-equestre', text: this.$t('price.caballos'), img: '/disciplines/acrobacia-ecuestre'},
        {activationKey: 'b', storeValue: 'báscula', text: this.$t('price.bascula'), img: '/disciplines/Bascula'},
        {activationKey: 'c', storeValue: 'cama-elástica', text: this.$t('price.camaelastica'), img: '/disciplines/Cama-elastica'},
        {activationKey: 'd', storeValue: 'icarios', text: this.$t('price.icarios'), img: '/disciplines/Icarios'},
        {activationKey: 'e', storeValue: 'barrasfijas', text: this.$t('price.barrasfijas'), img: 'https://placehold.it/147x146'},
        {activationKey: 'f', storeValue: 'hombre-bala', text: this.$t('price.hombrebala'), img: 'https://placehold.it/147x146'},
        {activationKey: 'g', text: this.$t('price.otro'), other: true}
      ],
      jugglingOptions: [
        {activationKey: 'a', storeValue: 'aros', text: this.$t('price.aros'), img: '/disciplines/Malabares-con-aros'},
        {activationKey: 'b', storeValue: 'mazas', text: this.$t('price.mazas'), img: '/disciplines/Malabares-con-mazas'},
        {activationKey: 'c', storeValue: 'pelotas', text: this.$t('price.pelotas'), img: '/disciplines/Malabares-con-pelotas'},
        {activationKey: 'd', storeValue: 'antipodista', text: this.$t('price.antipodista'), img: '/disciplines/Antipodismo'}
      ],
      clownOptions: [
        {activationKey: 'a', storeValue: 'augusto', text: this.$t('price.augusto'), img: '/disciplines/payaso-augusto'},
        {activationKey: 'b', storeValue: 'augusto de "suaré"', text: this.$t('price.augustosuare'), img: '/disciplines/payaso-augusto-suare'},
        {activationKey: 'c', storeValue: 'clown', text: this.$t('price.clown'), img: '/disciplines/clown'},
        {activationKey: 'd', storeValue: 'excentrico', text: this.$t('price.excentrico'), img: '/disciplines/payaso-excentrico'},
        {activationKey: 'e', storeValue: 'imitador', text: this.$t('price.imitador'), img: '/disciplines/payaso-imitador'},
        {activationKey: 'f', storeValue: 'parodia', text: this.$t('price.parodia'), img: 'https://placehold.it/147x146'},
        {activationKey: 'g', storeValue: 'mimo', text: this.$t('price.mimo')}
      ],
      equilibristOptions: [
        {activationKey: 'a', storeValue: 'funanmbulismo', text: this.$t('price.funanmbulismo'), img: '/disciplines/Funambulismo'},
        {activationKey: 'b', storeValue: 'maroma', text: this.$t('price.maroma'), img: 'https://placehold.it/147x146'},
        {activationKey: 'c', storeValue: 'mano-a-mano', text: this.$t('price.manoamano'), img: '/disciplines/mano-a-mano'},
        {activationKey: 'd', storeValue: 'percha', text: this.$t('price.percha'), img: 'https://placehold.it/147x146'},
        {activationKey: 'e', storeValue: 'rulo', text: this.$t('price.rulo'), img: 'https://placehold.it/147x146'},
        {activationKey: 'f', storeValue: 'bola', text: this.$t('price.bola'), img: 'https://placehold.it/147x146'},
        {activationKey: 'g', storeValue: 'escalera', text: this.$t('price.escalera'), img: '/disciplines/Equilibrio-sobre-escalera'},
        {activationKey: 'i', storeValue: 'patines', text: this.$t('price.patines'), img: 'https://placehold.it/147x146'},
        {activationKey: 'j', storeValue: 'verticales', text: this.$t('price.verticales'), img: '/disciplines/Equilibrio-vertical'}
      ],
      bikeOptions: [
        {activationKey: 'a', storeValue: 'bicicletas', text: this.$t('price.bicicletas'), img: '/disciplines/Bicicleta'},
        {activationKey: 'b', storeValue: 'monociclo', text: this.$t('price.monociclo'), img: '/disciplines/Monociclo'},
        {activationKey: 'c', storeValue: 'monociclogigante', text: this.$t('price.monociclogigante'), img: 'https://placehold.it/147x146'},
        {activationKey: 'd', storeValue: 'rueda', text: this.$t('price.rueda'), img: 'https://placehold.it/147x146'}
      ],
      tamerOptions: [
        {activationKey: 'a', storeValue: 'con-animales', text: this.$t('price.conanimales')},
        {activationKey: 'b', storeValue: 'sin-animales', text: this.$t('price.sinanimales')}
      ],
      aerialOptions: [
        {activationKey: 'a', storeValue: 'aro', text: this.$t('price.aro'), img: '/disciplines/Aereo-aro'},
        {activationKey: 'b', storeValue: 'cintas', text: this.$t('price.cintas'), img: '/disciplines/Aereo-Cintas'},
        {activationKey: 'c', storeValue: 'telas', text: this.$t('price.telas'), img: '/disciplines/Telas'},
        {activationKey: 'd', storeValue: 'cuadrante', text: this.$t('price.cuadrante'), img: '/disciplines/cuadrante'},
        {activationKey: 'e', storeValue: 'percha gigante', text: this.$t('price.perchagigante'), img: 'https://placehold.it/147x146'},
        {activationKey: 'f', storeValue: 'trapecio de equilibrio', text: this.$t('price.trapecioequilibrio'), img: '/disciplines/Aereo-Trapecio-de-Equilibrio'},
        {activationKey: 'g', storeValue: 'trapecio', text: this.$t('price.trapecio'), img: '/disciplines/Trapecio'},
        {activationKey: 'h', storeValue: 'volante', text: this.$t('price.volante'), img: '/disciplines/Trapecio-Volante'},
        {activationKey: 'i', storeValue: 'trapecio de fuerza', text: this.$t('price.trapeciofuerza'), img: '/disciplines/Trapecio-Fuerza'},
        {activationKey: 'j', storeValue: 'cuerda lisa', text: this.$t('price.cuerdalisa'), img: '/disciplines/Cuerda-lisa'}
      ]
    }
  },
  computed: {
    subdisciplineOptions () {
      let tmp = {
        acrobacia: this.acrobaticsOptions,
        malabares: this.jugglingOptions,
        payaso: this.clownOptions,
        equilibrismo: this.equilibristOptions,
        bicicletas: this.bikeOptions,
        domador: this.tamerOptions,
        aerial: this.aerialOptions
      }
      return tmp[this.discipline] || false
    }
  },
  watch: {
    discipline () {
      let d = indexOf(this.withSubdisciplines, this.discipline)
      if (d >= 0) {
        this.step += 1
      } else {
        this.save()
      }
    },
    subdiscipline (newVal) {
      if (newVal !== '') {
        this.save()
      }
    }
  },
  methods: {
    save () {
      let tmp = {discipline: this.discipline, subdiscipline: this.subdiscipline}
      this._save(tmp)
    }
  }
}
</script>
<style lang="scss">
.wrapper-question {
  background-color: white;
  padding: 19px;
  min-height: calc(100vh - 192px);
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
</style>
