<template lang="pug">
  div.wrapper-question
    span.title {{$t('price.objetos')}}
    p {{$t('price.objetosayuda')}}
    b-taginput(v-model="objects")
    button.button.is-primary(@click="save", style="margin-top:5px;") {{$t('actions.save')}}
</template>
<script>
import {filter} from 'lodash'
import basic from '~/mixins/basic.js'
import price from '~/mixins/price.js'
import contribpages from '~/mixins/contribpages.js'
export default {
  mixins: [price, basic, contribpages],
  props: ['taskId'],
  mounted () {
    this.$store.commit('set', {key: 'transitionName', val: 'zoomout'})
    let task = this.$store.state.activeTask
    if (task) {
      let project = filter(this.$store.state.projects, {id: task.project_id})
      project = project[0]
      this.signTask(project.short_name, task.id)
    }
  },
  data () {
    return {
      objects: []
    }
  },
  methods: {
    save () {
      let tmp = {objects: this.objects}
      this._save(tmp)
    }
  }
}
</script>
<style lang="scss">
.wrapper-question {
  background-color: white;
  padding: 19px;
  min-height: calc(100vh - 192px);
  display: flex;
  flex-direction: column;
}
.title {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #000000;
}
</style>
