<template lang="pug">
  div.info
    h1.title {{$t('price.objetos')}}
    b-taglist
      b-tag(v-for="object of objects", v-bind:key="object") {{object}}
</template>
<script>
export default {
  props: ['task'],
  computed: {
    objects () {
      if (this.task.result !== null) {
        let obj = []
        for (const key of Object.keys(this.task.result.info.objects)) {
          if (this.task.result.info.objects[key] >= 5) {
            obj.push(key)
          }
        }
        return obj
      } else {
        return this.task.taskrun.objects
      }
    }
  }
}
</script>
<style lang="scss">
.title {
  font-size: 24px;
}
.info, .subinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>
