<template>
  <div class="onboarding has-text-centered" :class="customClass">
      <div class="column">
        <img :src="img" style="max-width:190px;">
        <h1 style="margin: 20px 0;" class="title is-5 has-text-white has-text-weight-semibold">{{title}}</h1>
        <p style="margin: 20px 0;" class="subtitle has-text-white is-6">{{subtitle}}</p>
        <button @click="startTutorial" class="button is-aquamarine">{{$t('actions.getstarted')}}</button>
      </div>
  </div>
</template>
<script>
export default {
  props: ['img', 'title', 'subtitle', 'customClass'],
  mounted () {
    this.$store.commit('SET_GLOBAL_MODAL_PROPS', {canCancel: false})
  },
  methods: {
    startTutorial () {
      this.$store.commit('UPDATE_PROJECT_TUTORIAL', true)
      this.$store.commit('SET_MODAL_ACTIVE', false)
    }
  }
}
</script>
<style>
.modal-background {
  background-color: rgba(2, 31, 39, 0.86) !important;
}
.onboarding {
  min-height: 500px;
  color: white;
  border-radius: 5px;
}

.onboarding > img {
  margin-top: 25px;
}
.onboarding > h1 {
  margin-top: 38px;
}
</style>
