<template lang="pug">
div#top(class="columns", :class="{'is-gapless': isTouch}")
    .column
      div(class="centered")
        transition(v-if="isTouch", :name="$store.state.transitionName", mode="out-in")
          img.img-container(v-if="$store.state.showQuestions && isTouch", :src="img", key="full", :class="{ 'blurme': $store.state.isLoading}")
          img.img-container.is-square(v-else, :src="img", key="small", :class="{'blurme': $store.state.isLoading}")
        transition(v-else)
          img.img-container(:src="img",  :class="{'blurme': $store.state.isLoading}")
    div.column
      div.questions(v-if="$store.state.showQuestions", :class="{pending: $store.getters.ongoingTasks.length === 0, completed: $store.getters.completedTasks.length === 5}") {{ $store.getters.ongoingTasks.length }} {{$tc('price.questionsremaining', $store.getters.ongoingTasks.length) }}
      slot
</template>
<script>
import localConfig from '~/localConfig.js'
import question from '~/components/project/question.vue'
import artists from '~/components/project/artists.vue'
import artistsSummary from '~/components/project/artistsSummary.vue'
import disciplines from '~/components/project/discipline.vue'
import disciplinesSummary from '~/components/project/disciplineSummary.vue'
import objects from '~/components/project/objects.vue'
import objectsSummary from '~/components/project/objectsSummary.vue'
import authorSummary from '~/components/project/authorSummary.vue'
import dateSummary from '~/components/project/dateSummary.vue'
import price from '~/mixins/price.js'
export default {
  mixins: [price],
  components: { question, artists, artistsSummary, disciplines, disciplinesSummary, objects, objectsSummary, authorSummary, dateSummary },
  data () {
    return {
      artistas: [artists, artistsSummary, this.$t('price.howmanyartists')],
      disciplina: [disciplines, disciplinesSummary, this.$t('price.whichdiscipline')],
      objetos: [objects, objectsSummary, this.$t('price.objetospregunta')],
      autor: [null, authorSummary, null],
      fecha: [null, dateSummary, null]
    }
  },
  mounted () {
    this.$store.commit('set', {key: 'transitionName', val: 'zoom'})
    this.$store.commit('set', {key: 'showQuestions', val: true})
    this.$store.commit('set', {key: 'projectNav', val: true})
  },
  methods: {
    whichComponent (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][0]
      }
    },
    whichComponentSummary (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][1]
      }
    },
    whichQuestion (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][2]
      }
    }
  },
  computed: {
    img () {
      if (this.$store.state.tasks.length) {
        let fname = this.$store.state.tasks[0].info.fname
        let url = `${localConfig.baseURL}/static/img/img/${fname}`
        return url
      } else {
        return 'https://placehold.it/100x100'
      }
    }
  }
}
</script>
<style lang="scss">
@import '~assets/colors';

$remaining: $red;
$completed: $green;
$pending: $blue;

.img-container {
  padding-right: 74px;
  padding-left: 74px;
  padding-bottom: 20px;
  object-fit: cover;
  max-height: 330px;
}
.container-small {
  height: 130px !important;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-square {
  max-height: 110px;
  max-width: 110px;
  padding-left: 0;
  padding-right: 0;
}

/* .zoom-enter-active {
  animation: zoom-i .5s;
}

@keyframes zoom-i {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

.zoomout-enter-active {
  animation: zoom-out .5s;
}

@keyframes zoom-out {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}
*/


.questions {
  height: 44px;
  background-color: $remaining;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 16px;
}

.pending {
  background-color: $pending;
}

.completed {
  background-color: $completed;
}


.check {
  position: absolute;
    left: calc(50% - 24px);
    right: auto;
    top: calc(50% - 24px);
    color: white;
}
.animo-in {
  transition: all 0.5s;
  height: 350px;
}
.animo-out {
  transition: all 0.1s;
  height: 350px;
}

.zoom-enter-active {
  animation: juan 0.25s cubic-bezier(0.0, 0.0, 0.2, 1);
}
@keyframes juan {
  from {
    max-height: 330px;
  }
  to {
    max-height: 110px;
  }
}

.zoomout-enter-active {
  animation: juano .2s cubic-bezier(0.4, 0.0, 1, 1);
}
@keyframes juano {
  from {
    max-height: 110px;
  }
  to {
    max-height: 330px;
  }
}

.centered {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.blurme {
  filter: blur(20px);
}

.is-blur {
  animation: blurme 0.25s ease;
}

.is-clear {
  animation: blurme 0.20s reverse ease;
}

@keyframes blurme {
  from {
    filter: blur(0px);
  }
  to {
    filter: blur(20px);
  }
}


</style>
