<template lang="pug">
  div
    .wrapper(v-if="$store.state.showQuestions",:class="_class", @click="toggleQuestion")
        .columns.is-mobile.is-gapless
          .column.is-flex.is-narrow.is-begining
            img(:src="icon", style="margin-left: 7px; height:24px;")
          .column.is-flex.is-center(:class="_class") 
            div(v-if="state === 'remaining'") {{title}}
            div(v-else)
              component(v-bind:is="questionSummary", v-bind="{task: task}")
          .column.is-flex.is-ending.is-narrow
            img(v-if="state === 'remaining'", src="~/assets/price/arrow-red-blue.svg", style="padding-right: 7px; height: 20px;")
            img(v-else, src="~/assets/price/arrow-red-blue.svg", style="padding-right: 7px; height: 20px;visibility: hidden;")
</template>
<script>
import price from '~/mixins/price.js'
export default {
  mixins: [price],
  props: ['_class', 'question', 'title', 'activeQuestion', 'taskId', 'questionSummary'],
  methods: {
    toggleQuestion () {
      if (this.task.state !== 'completed' && Object.keys(this.task.taskrun).length === 0) {
        this.$store.commit('set', {key: 'showQuestions', val: false})
        this.$store.commit('set', {key: 'activeQuestion', val: this.activeQuestion})
        this.$store.commit('set', {key: 'activeTask', val: this.task})
        this.$router.push({
          name: `contribute-dhash-${this.activeQuestion}`,
          params: {
            dhash: this.$store.state.dhash
          }
        })
      }
    }
  },
  computed: {
    icon () {
      let a = {
        'is-pending': require('~/assets/price/check-blue.svg'),
        'is-completed': require('~/assets/price/check-green.svg'),
        'is-remaining': require('~/assets/price/question-mark.svg')
      }
      console.log(this._class)
      return a[this._class]
    },
    task () {
      let idx = this.getTask(this.$store.state.tasks, this.taskId)
      return this.$store.state.tasks[idx]
    },
    state () {
      if (this.task.state === 'completed') {
        return 'completed'
      }
      if (this.task.state === 'ongoing' && Object.keys(this.task.taskrun).length === 0) {
        return 'remaining'
      }
      if (this.task.state === 'ongoing' && Object.keys(this.task.taskrun).length > 0) {
        return 'pending'
      }
    }
  }
}
</script>
<style lang="scss">
@import '~assets/colors.scss';

$remaining: $red;
$completed: $green;
$pending: $blue;

$colors: (
  "remaining": $remaining,
  "completed": $completed,
  "pending": $pending
);

$height: 122px;


@each $color in $colors {
  .is-#{nth($color,1)}:before {
    color: nth($color, 2)
  }
}

$colors: ("remaining",$remaining),("completed", $completed),("pending",$pending);

.wrapper {
  @each $color in $colors {
    &.is-#{nth($color,1)} {
      border-left: 5px solid nth($color,2);
    }
  }
  background-color: white;
  min-height: $height;
  border-bottom: 1px solid gray;
}


.is-begining, .is-center, .is-ending {
  min-height: $height;
  align-items: center;
}
.is-begining {
  justify-content: flex-start;
  align-items: center;
  div {
    margin-left: 7px;
    width: 100%;
  }
}

.is-center {
  @each $color in $colors {
    &.is-#{nth($color,1)} {
      @if nth($color,1) == 'remaining' {
        color: nth($color,2);
      } @else {
        color: black;
      }
    }
  }
  justify-content: center;
}
</style>
