<template>
    <div class="section">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p class="title has-text-teal-blue has-text-weight-bold">{{project.stats.n_volunteers}}</p>
              <p class="heading has-text-teal-blue has-text-weight-bold">{{$t('project.volunteers')}}</p>
            </div>
          </div>
          <div class="level-item is-hidden-touch">
            <div>
              <p class="title has-text-teal-blue has-text-weight-bold">{{project.stats.n_task_runs}}</p>
              <p class="heading has-text-teal-blue has-text-weight-bold">{{$t('project.tasks')}}</p>
            </div>
          </div>
        </div>
        <div class="level-right is-hidden-desktop">
          <div class="level-item">
            <div>
              <p class="title has-text-teal-blue has-text-weight-bold">{{project.stats.n_task_runs}}</p>
              <p class="heading has-text-teal-blue has-text-weight-bold">{{$t('project.tasks')}}</p>
            </div>
          </div>
          <!--<div class="level-item is-hidden-touch">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{pctTotal}}</p>
              <p class="heading has-text-primary has-text-weight-bold">{{$t('project.overall_progress')}}</p>
            </div>
          </div>-->
        </div>
      </div>
      <!--<div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div class="has-text-centered" style="display:flex; flex-direction: column; align-items: flex-start;">
              <span class="title has-text-aquamarine is-uppercase" style="font-size:12px;">{{$t('project.start')}}</span>
              <span class="title is-6">{{project.info.start}}</span>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item is-marginless">
            <div style="display:flex; flex-direction: column; align-items: flex-end;">
              <span class="title is-7 has-text-aquamarine is-uppercase">{{$t('project.finish')}}</span>
              <span>{{project.info.finish}}</span>
            </div>
          </div>
        </div>
      </div>-->
      <!--<progress class="progress is-small is-secondary" :value="project.overall_progress" max="100">{{pctTotal}}%</progress>-->
      <!--<div class="level is-mobile is-hidden-desktop">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{project.n_completed_tasks}}</p>
              <p class="heading has-text-primary has-text-weight-bold">{{$t('project.n_completed_tasks')}}</p>
            </div>
          </div>
        </div>
        <div class="level-item"></div>
      </div>-->
    </div>
</template>
<script>
import basic from '@/mixins/basic.js'
export default {
  props: ['project'],
  data () {
    return {
      projects: []
    }
  },
  mixins: [basic],
  created () {
    this.$set(this.project, 'stats', {n_volunteers: 0, n_task_runs: 0, n_tasks: 0})
    this.$emit('update:project', this.project)
  },
  async mounted () {
    let url = `api/projectstats?project_id=${this.project.id}`
    let data = await this.$axios.$get(url)
    if (data) {
      this.$set(this.project, 'stats', data[0])
      this.$emit('update:project', this.project)
    } else {
      this.$set(this.project, 'stats', {})
      this.$emit('update:project', this.project)
    }
  },
  computed: {
    pctTotal () {
      if (this.project.hasOwnProperty('stats')) {
        if (this.project.stats.n_tasks === 0) {
          return 0
        }
        return Math.floor((this.project.stats.n_completed_tasks * 100) / (this.project.stats.n_tasks))
      } else {
        return 0
      }
    }
  }
}
</script>
<style>
.progress {
  border-radius: 0px;
}
</style>
