<template>
    <div class="">
      <b-field>
          <b-upload v-model="files" accept="image/*">
              <a class="button is-info">
                  <b-icon icon="upload"></b-icon>
                  <span>{{$t('actions.browse')}}</span>
              </a>
          </b-upload>
      </b-field>
      <div id="cropit-ctn" v-if="image" style="margin-top:5px;">
          <figure>
            <img id="cropit" style="max-width:100%; max-height:512px;" :src="image"/> 
          </figure>
          <div v-if="files.length" class="cropping-btns" style="margin-top: 5px;">
              <button class="button" v-on:click="createCropper">{{$t('actions.crop')}}</button>
              <button v-if="isCropping && toDataURL === false" class="button" v-on:click="cropIt" v-bind:class="{'is-loading': loading}">{{$t('actions.save')}}</button>
              <button v-if="isCropping && toDataURL === true" class="button" v-on:click="cropItBase" v-bind:class="{'is-loading': loading}">{{$t('actions.save')}}</button>

          </div>
      </div>
      <div id="cropit-ctn" v-else>
          <img class="preview" src="http://via.placeholder.com/675x379">
      </div>
    </div>
</template>
<script>
import form from '@/mixins/form.js'
import Cropper from 'cropperjs'
import 'cropperjs/dist/cropper.min.css'

function createCropperVanilla (aspectRatio) {
  var image = document.getElementById('cropit')
  var cropper = new Cropper(image, {
    aspectRatio: aspectRatio,
    viewMode: 2,
    zoomable: false,
    movable: false,
    autoCrop: true
  })
  return cropper
}

export default {
  props: {
    src: String,
    aspectRatio: Number,
    img: String,
    placeholder: String,
    toDataURL: {type: Boolean, default: false}},
  mixins: [form],
  data () {
    return {
      mime: 'image/jpeg',
      cropper: null,
      files: [],
      imageCrop: null,
      imageCropped: null,
      headersFileUpload: { 'Content-Type': 'multipart/form-data' }
    }
  },
  watch: {
    async files () {
      if (this.files.length) {
        if (this.toDataURL === false) {
          this.getCsrf()
        }
        this.file_name = this.files[0].name
        this.mime = this.files[0].type
        var fileSize = 9485760
        if (this.files[0].size > fileSize) {
          let msg = 'Images should be smaller than 10MB'
          this.$toast.open({type: 'is-danger', position: 'is-top', message: msg})
        } else {
          // Ensure that you have a file before attempting to read it
          if (this.files[0]) {
            // create a new FileReader to read this image and convert to base64 format
            var reader = new FileReader()
            // Define a callback function to run, when FileReader finishes its job
            reader.onload = (e) => {
              // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
              // Read image as base64 and set to imageData
              this.imageCrop = e.target.result
              this.$emit('update:img', e.target.result)
            }
            // Start the reader job - read file as a data url (base64 format)
            reader.readAsDataURL(this.files[0])
          }
        }
      }
    }
  },
  mounted () {
    if (this.placeholder !== undefined) {
      this.imageCrop = this.placeholder
    }
  },
  computed: {
    image () {
      if (this.imageCrop === null) {
        return this.src
      } else {
        return this.imageCrop
      }
    },
    isCropping () {
      if (this.cropper !== null) return true
      else return false
    }
  },
  methods: {
    createCropper () {
      if (this.cropper === null) {
        this.cropper = createCropperVanilla(this.aspectRatio)
      } else {
        this.cropper.destroy()
        this.cropper = null
        this.cropper = createCropperVanilla(this.aspectRatio)
      }
    },
    cropIt () {
      // this.showLoading = true
      var self = this
      this.loading = true
      if (this.cropper === null) this.cropper = createCropperVanilla()
      this.cropper.getCroppedCanvas()
      this.cropper.getCroppedCanvas({
        width: 160,
        height: 90,
        beforeDrawImage: function (canvas) {
          const context = canvas.getContext('2d')
          context.imageSmoothingEnabled = false
          context.imageSmoothingQuality = 'high'
        }
      })

      // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`
      this.cropper.getCroppedCanvas().toBlob(function (blob) {
        var formData = new FormData()

        formData.append('avatar', blob, self.file_name)
        formData.append('btn', 'Upload')
        formData.append('csrf', self.upload_form.csrf)

        let msg = self.$t('account.avatarUpdated')
        self.postImage(formData, msg)
        self.$store.dispatch('getUser')
        self.$store.commit('SET_MODAL_ACTIVE', false)
      }, this.mime, 0.90)
    },
    async cropItBase () {
      // this.showLoading = true
      // var self = this
      this.loading = true
      if (this.cropper === null) this.cropper = createCropperVanilla()
      this.cropper.getCroppedCanvas()
      this.cropper.getCroppedCanvas({
        width: 160,
        height: 90,
        beforeDrawImage: function (canvas) {
          const context = canvas.getContext('2d')
          context.imageSmoothingEnabled = false
          context.imageSmoothingQuality = 'high'
        }
      })

      // Upload cropped image to server if the browser supports `HTMLCanvasElement.toBlob`
      var imgC = this.cropper.getCroppedCanvas()
      imgC = await imgC.toDataURL('image/jpeg')
      this.$emit('update:img', imgC)
      this.imageCrop = imgC
      this.cropper.destroy()
      this.cropper = null
      this.loading = false
    }
  }
}
</script>
<style>
input {
  width: 10px;
}
</style>
