<template>
    <footer class="has-text-centered">
        <p>Built with ☕  by Scifabric.</p>
        <p><a href="/privacy">Privacy Policy</a></p>
        <p><a href="/cookies">Cookies Policy</a></p>
    </footer>
</template>
