<template lang="pug">

  aside.menu.is-paddingless
    .level.is-mobile(style="margin-bottom: 48px;")
      .level-right
        nuxt-link.title.is-6.has-text-white(to="/") {{$t('price.home')}}
    .level.is-mobile(style="margin-bottom: 48px;")
      .level.is-mobile
        .level-right
          nuxt-link.title.is-6.has-text-white(to="/bienvenida") {{$t('price.welcome')}}
    .level.is-mobile(style="margin-bottom: 48px;")
      .level-right
        nuxt-link.title.is-6.has-text-white(to="/about") {{$t('price.about')}}
    hr.white(style="margin-top:38px;")

    // .level.is-mobile
    //     .level-right
    //       b-field(horizontal) {{$t('meta.language')}}
    //         b-select(v-model="language")
    //           option(value="es") {{$t('locales.es')}}
    //           option(value="en") {{$t('locales.en')}}

    // hr.white

    .level.is-mobile(style="margin-top: 48px; margin-bottom: 48px;")
      .level-right
        img(src="~assets/home/factoria-white.svg", style="width: 150px;")
    
    .level.is-mobile
      .level-right
        span.copy 	&copy; Factoría Cultural 2018

    .level.is-mobile(style="margin-bottom: 48px;")
      .level-right
        .level-item
          a.has-text-white(href='https://factoriacultural.es/aviso-legal/',style="font-size:14px;") {{$t('price.legal')}}
        .level-item
          a.has-text-white(href='https://factoriacultural.es/politica-proteccion-datos/',style="font-size:14px;") {{$t('price.datos')}}
        .level-item
          div
            a.has-text-white(href='https://factoriacultural.es/contacto/',style="font-size:14px;") {{$t('price.contact')}}

    hr.white

    .level.is-mobile(style="margin-top:48px;")
     .level-right
       span(style="font-size: 14px;") Hecho con ☕ 
        a.has-text-white(href="https://scifabric.com") Scifabric
</template>
<script>
export default {
  data () {
    return {
      language: 'es'
    }
  }
}
</script>
<style>
.menu > .level.is-mobile,
.menu > .columns.is-mobile {
  padding-left: 28px;
  padding-right: 16px;
}
hr.white {
  margin: 3rem 0;
}

.copy {
  opacity: 0.7;
  font-size: 14px;
}
</style>
