<template lang="pug">
  .section(style="padding-top:20px; padding-bottom:20px;")
    nav.level.is-mobile(v-if="!hideNav")
      .level-left
        .level-item(v-if="$route.name === 'index'", @click="toggleNav")
          transition(mode="out-in", name="bounce")
            div(key="open", v-if="!$store.state.showNav")
              img(src="~/assets/img/nav-burger-white.svg")
            div(key="close", v-else)
              img(src="~/assets/img/nav-burger-closed-white.svg")
        .level-item(v-else, @click="goBack")
          transition(name="appear", mode="out-in")
            b-icon(icon="arrow-left", type="is-white", size="is-medium")
</template>
<script>
import Tutorial from '@/components/tutorial.vue'
import basic from '@/mixins/basic.js'
export default {
  mixins: [basic],
  data () {
    return {
      viewsWithoutNav: [
        '/account/signin',
        '/account/register'
      ]
    }
  },
  components: { Tutorial },
  computed: {
    currentModalProps () {
      return this.$store.state.currentModalProps
    },
    currentModalActive: {
      get () {
        return this.$store.state.currentModalActive
      },
      set (value) {
        this.$store.commit('SET_MODAL_ACTIVE', value)
      }
    },
    currentModal () {
      return this.$store.state.currentModal
    },
    transparentNav () {
      return this.$store.state.transparentNav
    },
    nav () {
      return {'show-nav': this.showNav}
    },
    showNav () {
      return this.$store.getters.showNav
    },
    hideNav () {
      if (this.viewsWithoutNav.indexOf(this.$route.fullPath) !== -1) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    goBack () {
      if (this.$route.name !== 'index') {
        this.$router.push('/')
      }
    },
    toggleNav () {
      this.$store.commit('TOGGLE_NAV')
    }
    // goBack () {
    //   console.log('go Back')
    //   this.$router.push({
    //     name: 'contribute-dhash',
    //     params: {
    //       dhash: this.$store.state.dhash
    //     }
    //   })
    //   this.$store.commit('set', {key: 'activeQuestion', val: ''})
    //   this.$store.commit('set', {key: 'showQuestions', val: true})
    // }
  }
}
</script>
<style lang="scss" scoped>
.is-circle {
  width:35px;
  height:35px;
  border-radius: 50%;
}

.bounce-enter-active {
  animation: bounce-in .25s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.bounce-leave-active {
  animation: bounce-in .2s reverse cubic-bezier(0.4, 0.0, 1, 1);
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.appear-enter-active {
  animation: appear-i .25s;
}

.appear-leave-active {
  animation: appear-i .2s reverse;
}
@keyframes appear-i {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
</style>
