<template>
  <div v-if="currentStep === step && showTutorial" class="tutorial">
    <div class="wrapper" :class="isWrapper" :style="offset">
      <div v-if="isTop" :class="isClass">
        <img :src="isHandle">
      </div>
      <div class="tutorial-content" :class="position">
        <!--<div class="tutorial-step">
          <span style="font-size:14px;">
            {{step}} of {{totalSteps}}
          </span>
        </div>-->

        <div class="tutorial-text">
          <span style="font-size:16px;">
            {{content}}
          </span>
        </div>

        <div class="tutorial-carousel" v-if="isCarousel">
          <Carousel :paginationEnabled="true" :perPage="1">
          <template v-for="slide of carousel">
            <Slide v-html="slide.html" class="has-text-centered">
            </Slide>
          </template>
          </Carousel>
        </div>

        <div class="tutorial-actions">
          <div class="level is-mobile">
            <div class="level-left">
              <div>
                <button v-if="step !== totalSteps" @click="$store.commit('UPDATE_PROJECT_TUTORIAL', false)" class="button is-white">{{$t('actions.skiphelp')}}</button>
              </div>
            </div>
            <button v-if="step !== totalSteps" @click="$store.commit('INCREASE_TUTORIAL_STEP')" class="button" :class="customClass">{{$t('actions.next')}}</button>
            <button v-else @click.stop="$store.commit('UPDATE_PROJECT_TUTORIAL', false)" class="button" :class="customClass">{{$t('actions.done')}}</button>
          </div>
        </div>
      </div>
      <div v-if="isBottom" :class="isClass">
        <img :src="isHandle">
      </div>
    </div>
  </div>
</template>
<script>
import { Carousel, Slide } from 'vue-carousel'
export default {
  components: { Carousel, Slide },
  props: ['content', 'position', 'step', 'totalSteps', 'customClass', 'offset', 'carousel'],
  computed: {
    isTop () {
      if (this.position === undefined) {
        return false
      }
      console.log(this.position)
      if (this.position.indexOf('top') >= 0) {
        return true
      } else {
        return false
      }
    },
    isBottom () {
      if (this.position === undefined) {
        return false
      }
      if (this.position.indexOf('bottom') >= 0) {
        return true
      } else {
        return false
      }
    },

    isCarousel () {
      if (this.carousel === undefined) {
        return false
      } else {
        return true
      }
    },
    currentStep () {
      return this.$store.state.projectTutorialStep
    },
    showTutorial () {
      return this.$store.state.projectTutorial
    },
    isClass () {
      if (this.position === 'top-left') {
        return `handle-top-left`
      }
      if (this.position === 'top-right') {
        return `handle-top-right`
      }
      if (this.position === 'left-top') {
        return `handle-left-top`
      }
      if (this.position === 'left-bottom') {
        return `handle-left-bottom`
      }
      if (this.position === 'bottom-left') {
        return `handle-bottom-left`
      }
      if (this.position === 'bottom-right') {
        return `handle-bottom-right`
      }
    },
    isHandle () {
      if ((this.position === 'top-left') || (this.position === 'top-right')) {
        return '/handle.svg'
      }

      if ((this.position === 'bottom-left') || (this.position === 'bottom-right')) {
        return '/handle-bottom.svg'
      }
      if ((this.position === 'left-top') || (this.position === 'left-bottom')) {
        return '/handle-left.svg'
      }
    },
    isWrapper () {
      return `${this.customClass} wrapper-left`
    }
  }
}
</script>
<style>
.tutorial {
    position: relative;
    z-index: 999;
    background: white;
    width:0;
    height:0;
}

.tutorial > .wrapper {
  position: absolute;
}

.tutorial > .wrapper > .handle-top-left {
  margin-top: -26px;
}

.tutorial >.wrapper >  .handle-top-right{
  margin-top: -26px;
  margin-left: 235px;
}

.tutorial >.wrapper >  .handle-left-top {
  margin-top: 18px;
  margin-left: -26px;
}

.tutorial > .wrapper > .handle-left-bottom {
  margin-top: 135px;
  margin-left: -26px;
}

.tutorial > .wrapper > .handle-bottom-left {
  position: absolute;
  margin-top: -2px;
  margin-left: 5px;
}

.tutorial > .wrapper > .handle-bottom-right {
  position: absolute;
  margin-top: -2px;
  margin-left: 200px;
}

.tutorial >.wrapper >  .tutorial-content {
  padding: 0.75rem;
  background: white;
  max-width: 250px;
  min-width: 250px;
  overflow-y: scroll;
}

.tutorial >.wrapper >  .tutorial-content.left-top {
  margin-top: -45px;
}

.tutorial >.wrapper >  .tutorial-content.left-bottom {
  margin-top: -162px;
}
.tutorial-actions {
  margin-top: 0.75rem;
}
.VueCarousel-pagination {
  float: none !important;
}
</style>
