<template>
  <section>
    <section class="hero is-info is-medium is-atop" :style="projectCover(project)">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            {{category.name}}
          </h1>
        </div>
      </div>
    </section>
    <div class="section">
      <div class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{total('n_volunteers')}}</p>
              <p class="heading has-text-primary has-text-weight-bold">Volunteers</p>
            </div>
          </div>
        </div>
        <div class="level-right">
          <div class="level-item">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{total('n_tasks')}}</p>
              <p class="heading has-text-primary has-text-weight-bold">Tasks</p>
            </div>
          </div>
          <div v-if="!isTouch" class="level-item">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{total('overall_progress')/projects.length}}</p>
              <p class="heading has-text-primary has-text-weight-bold">Task completed</p>
            </div>
          </div>
        </div>
      </div>
      <progress class="progress is-small is-secondary" :value="total('overall_progress')/projects.length" max="100">{{total('overall_progress')/projects.length}}%</progress>
      <div v-show="isTouch" class="level is-mobile">
        <div class="level-left">
          <div class="level-item">
            <div>
              <p class="title has-text-primary has-text-weight-bold">{{total('overall_progress')/projects.length}}</p>
              <p class="heading has-text-primary has-text-weight-bold">Task completed</p>
            </div>
          </div>
        </div>
        <div class="level-item"></div>
      </div>
    </div>
    <template v-if="isTouch">
      <section class="hero" :class="oneColor(index)" style="margin-bottom: 5px;"  v-for="(project, index) of projects">
        <div class="hero-body">
          <div class="container">
            <div class="level is-mobile">
              <div class="level-left">
                <div class="level-item">
                  <figure class="image is-128x128" :style="projectCover(project)">
                  </figure>
                </div>
              </div>
              <div class="level-item">
                  <div>
                    <p class="title is-4 has-text-white is-capitalized">{{project.name}}</p>
                    <p class="heading has-text-white" style="font-size:24px;">{{project.stats.n_tasks}}</p>
                  <nuxt-link :to="{name: 'project-slug', params: {slug: project.short_name}}" class="button is-aquamarine">{{$t('actions.contribute')}}</nuxt-link>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </template>
    <template v-else>
      <div class="section" style="padding-top:0px;">
        <div class="columns is-multiline">
          <div class="column is-one-third"  v-for="(project, index) of projects">
              <section class="hero" :class="oneColor(index)">
                <div class="hero-body">
                  <div class="level is-mobile">
                    <div class="level-left">
                      <div class="level-item">
                        <figure class="image is-128x128" :style="projectCover(project)">
                        </figure>
                      </div>
                    </div>
                    <div class="level-item">
                        <div>
                          <p class="title is-5 has-text-white has-text-weight-semibold is-capitalized">{{project.name}}</p>
                          <p v-if="project.info.hasOwnProperty('something')" class="subitle is-7 has-text-white has-text-weight-semibold is-capitalized">{{project.name}}</p>
                          <p class="heading has-text-white" style="font-size:36px;">{{project.stats.n_tasks}}</p>
                        <nuxt-link :to="{name: 'project-slug', params: {slug: project.short_name}}" class="button is-aquamarine">{{$t('actions.contribute')}}</nuxt-link>
                        </div>
                    </div>
                  </div>
                </div>
              </section>
          </div>
        </div>
      </div>
    </template>

    <section class="section">
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <h2 class="title is-3">About the event</h2>
          <div class="content">{{category.description}}</div>
        </div>
      </div>
    </section>
  </section>
</template>
<script>
import _ from 'lodash'
import basic from '@/mixins/basic.js'
export default {
  data () {
    return { color: 0 }
  },
  mixins: [basic],
  async asyncData ({app, params, store}) {
    let category = _.filter(store.state.categories, {short_name: params.slug})
    if (category.length) category = category[0]
    let url = `api/project?category_id=${category.id}&all=1`
    const data = await app.$axios.$get(url)
    for (let project of data) {
      url = `api/projectstats/${project.id}`
      project.stats = await app.$axios.$get(url)
    }
    return { projects: data }
  },
  computed: {
    project () {
      return _.sample(this.projects)
    },
    category () {
      let tmp = _.filter(this.$store.state.categories, {'short_name': this.$route.params.slug})
      if (tmp.length) return tmp[0]
      else return []
    }
  },
  methods: {
    oneColor (index) {
      let colors = ['is-orange', 'is-twitter', 'is-green']
      let cls = {}
      cls[colors[index % 3]] = true
      return cls
    },
    projectCover (project) {
      if (project !== undefined) {
        return {
          'background': `linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(${project.info.thumbnail_url}) no-repeat center center`,
          'background-size': 'cover'
        }
      }
    },

    total (key) {
      return _.sumBy(this.projects, function (o) {
        return o.stats[key]
      })
    }
  },
  mounted () {
    this.$store.commit('SET_TRANSPARENT_NAV', true)
  }
}
</script>
<style>
.progress {
  border-radius: 0px;
}
</style>
