<template lang="pug">
  artists
</template>
<script>
import price from '~/mixins/price.js'
import artists from '~/components/project/artists.vue'
export default {
  mixins: [price],
  layout: 'task',
  scrollToTop: true,
  components: {
    artists
  }
}
</script>
<style lang="scss">
</style>
