<template lang="pug">
  disciplines
</template>
<script>
import price from '~/mixins/price.js'
import disciplines from '~/components/project/discipline.vue'
export default {
  mixins: [price],
  layout: 'task',
  scrollToTop: true,
  components: {
    disciplines
  }
}
</script>
<style lang="scss">
</style>
