<template lang="pug">
  div
    question(v-for="(task, idx) of $store.getters.ongoingTasks", v-bind:key="task.id", _class='is-remaining', :question="whichComponent(task)", :questionSummary="whichComponentSummary(task)", :title="whichQuestion(task)", :activeQuestion="typeOfTask(task)", :taskId="task.id")
    question(v-for="(task, idx) of $store.getters.pendingTasks", v-bind:key="task.id", _class='is-pending', :question="whichComponent(task)", :questionSummary="whichComponentSummary(task)", :title="whichQuestion(task)", :activeQuestion="typeOfTask(task)", :taskId="task.id")
    question(v-for="(task, idx) of $store.getters.completedTasks",  v-bind:key="task.id",_class='is-completed', :questionSummary="whichComponentSummary(task)", :taskId="task.id")
</template>
<script>
import basic from '@/mixins/basic.js'
import question from '~/components/project/question.vue'
import artistsSummary from '~/components/project/artistsSummary.vue'
import disciplinesSummary from '~/components/project/disciplineSummary.vue'
import objectsSummary from '~/components/project/objectsSummary.vue'
import authorSummary from '~/components/project/authorSummary.vue'
import dateSummary from '~/components/project/dateSummary.vue'
import pricemix from '~/mixins/price.js'
export default {
  layout: 'task',
  mixins: [basic, pricemix],
  components: {
    question
  },
  data () {
    return {
      artistas: [null, artistsSummary, this.$t('price.howmanyartists')],
      disciplina: [null, disciplinesSummary, this.$t('price.whichdiscipline')],
      objetos: [null, objectsSummary, this.$t('price.objetospregunta')],
      autor: [null, authorSummary, null],
      fecha: [null, dateSummary, null]
    }
  },
  methods: {
    whichComponent (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][0]
      }
    },
    whichComponentSummary (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][1]
      }
    },
    whichQuestion (task) {
      let val = this.typeOfTask(task)
      if (this.$data.hasOwnProperty(val)) {
        return this.$data[val][2]
      }
    }
  },
  computed: {
    canModify () {
      if (this.currentUser !== null && (this.currentUser.pro || this.currentUser.admin || this.currentUser.id === this.project.owner_id)) {
        return true
      } else {
        return false
      }
    },
    project () {
      if (this.data.hasOwnProperty('project')) {
        return this.data.project
      } else {
        return {}
      }
    },
    projectType () {
      if (this.project.info.hasOwnProperty('task_presenter')) {
        return this.project.info.task_presenter.toLowerCase()
      } else {
        return ''
      }
    }
  }
}
</script>
