<template lang="pug">
  objects
</template>
<script>
import price from '~/mixins/price.js'
import objects from '~/components/project/objects.vue'
export default {
  mixins: [price],
  layout: 'task',
  scrollToTop: true,
  components: {
    objects
  }
}
</script>
<style lang="scss">
</style>
