// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import "~assets/fonts";
@import "~assets/colors";


$aquamarine: rgb(0, 211, 167);
$aquamarine-invert: findColorInvert($aquamarine);
$teal-blue: rgb(0, 151, 166);
$teal-blue-invert: findColorInvert($teal-blue);
$teal: rgb(0, 168, 137);
$teal-invert: findColorInvert($teal);
$pumpkin-orange: rgb(248, 139, 28);
$pumpkin-orange-invert: findColorInvert($pumpkin-orange);
$azure: rgb(29, 161, 242);
$azure-invert: findColorInvert($azure);
$dark-sky-blue: rgb(59, 175, 211);
$dark-sky-blue-invert: findColorInvert($dark-sky-blue);
$coral: rgb(255, 62, 62);
$coral-invert: findColorInvert($coral);
$light-gold: rgb(252, 205, 74);
$light-gold-invert: findColorInvert($light-gold);
$navy: rgb(2, 31, 39);
$navy-invert: findColorInvert($navy);
$gunmetal: rgb(77, 98, 103);
$gunmetal-invert: findColorInvert($gunmetal);
$white: rgb(255, 255, 255);
$white-invert: findColorInvert($white);
$transparent: rgba(255, 255,255, 0);
$transparent-invert: findColorInvert(transparent);


$primary: $blue;
$secondary: $teal;

$success: $green;
$info: $teal;
$warning: $pumpkin-orange;
$danger: $red;

$family-sans-serif: $roboto;
$family-primary: $family-sans-serif;
$title-weight: 300;

$body-size: 16px;
$body-weight: 300;

$size-1: 48px;
$size-2: 39px;
$size-3: 32px;
$size-4: 24px;
$size-5: 20px;
$size-6: 16px;
$size-7: 14px;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7; 

$size-large: $size-3;
$size-medium: $size-4;
$size-normal: $size-6;
$size-small: $size-7;

$mobile: 400px;

$footer-background-color: $primary;

$content-heading-color: $primary !important;

$twitter: #1da1f2;
$twitter-invert: findColorInvert($twitter);

$facebook: #4267B2;
$facebook-invert: findColorInvert($facebook);

$google: #4285f4;
$google-invert: findColorInvert($google);

$aquamarine: #00d3a7;
$aquamarine-invert: findColorInvert($aquamarine);

$face: #fccd4a;
$face-invert: findColorInvert($face);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$addColors: (
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "facebook": ($facebook, $facebook-invert),
    "google": ($google, $google-invert),
    "teal-blue": ($teal-blue, $teal-blue-invert),
    "secondary": ($teal, $teal-invert),
    "aquamarine": ($aquamarine, $aquamarine-invert),
    "orange": ($pumpkin-orange, $pumpkin-orange-invert),
    "face": ($face, $face-invert),
    "white": ($white, $white-invert),
    "transparent": ($transparent, $transparent-invert)
);

$colors: map-merge($colors, $addColors);

$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// titles

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

$title-color: $black;
$title-size: $size-3; 
$title-weight: $weight-semibold;
$title-strong-color: inherit;
$title-strong-weight: inherit;
$title-sub-size: 0.75em;
$title-sup-size: 0.75em;

$subtitle-color: $black;
$subtitle-size: $size-5;
$subtitle-weight: $weight-normal;
$subtitle-strong-color: $grey-darker;
$subtitle-strong-weight: $weight-semibold;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~bulma-badge/dist/bulma-badge.sass";
@import "~buefy/src/scss/buefy"; 

.box.is-success {
  background-color: rgba($green, 0.1);
  color: $green;
  border: 1px solid $green;
}

body {
    background-color: $black;
}

.title, .titleArtist {
 font-family: $roboto;
 text-transform: uppercase;
}

p, span, div, .button {
 font-family: $roboto;
}

.content {
    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
    }
}
