.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

@import "custom.scss";
$sidebar-width: 260px;

#site-wrapper {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
  transition: 300ms ease all;
  backface-visibility: hidden;
  box-shadow: -13px 0px 67px -8px rgba(0,0,0,0.35);
  min-height: 100vh;
   
}
.show-nav #site-canvas {
  -webkit-transform: translateX($sidebar-width);
  transform: translateX($sidebar-width);
  
  -webkit-transform: translate3d($sidebar-width, 0, 0);
  transform: translate3d($sidebar-width, 0, 0);
}
#site-menu {
  width: $sidebar-width;
  height: 100%;
  position: absolute;
  top: 0;
  left: -$sidebar-width;
  background: black;
  color: white;
  /* padding-left: 28px; */
  padding-top: 44px;
  /* padding-right: 16px; */
}

.is-underline {
    text-decoration: underline;
}

.is-atop {
    margin-top: -97px;
}

.is-atop > .hero-body {
    margin-top: 97px;
}

.modal-background {
    background-color: white !important;
}

.hr-primary {
    background-color: $secondary;
}

.is-clickable {
    cursor: pointer;
}

::-webkit-scrollbar-button{ 
    display: none; 
    height: 13px; 
    border-radius: 0px; 
    background-color: #f20606; 
} 
::-webkit-scrollbar-button:hover{ background-color: #AAA; } 
::-webkit-scrollbar-thumb{ background-color: $primary; } 
::-webkit-scrollbar-thumb:hover{ background-color: $aquamarine; } 
::-webkit-scrollbar-track{ background-color: #efefef; } 
::-webkit-scrollbar-track:hover{ background-color: #CCC; } 
/* ::-webkit-scrollbar{ width: 5px; }*/

