<template>
  <section class="section">
    <b-modal :active.sync="currentModalActive" v-bind="globalModalProps">
      <component v-bind:is="currentModal" v-bind.sync="currentModalProps"></component>
    </b-modal>
    <div class="level is-mobile">
      <div v-if="isTouch" class="level-left">
        <div class="level-item">
          <nuxt-link to="/"><img src="~/assets/img/pybossa.svg"></nuxt-link>
        </div>
      </div>
      <div v-else class="level-item">
        <nuxt-link to="/"><img src="~/assets/img/pybossa.svg" style="height:35px;"></nuxt-link>
      </div>
    </div>
    <div class="columns">
      <div class="column" :class="{'is-half is-offset-one-quarter has-text-centered': !isTouch}">
        <nuxt/>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  computed: {
    globalModalProps () {
      return this.$store.state.globalModalProps
    },
    currentModalProps () {
      return this.$store.state.currentModalProps
    },
    currentModalActive: {
      get () {
        return this.$store.state.currentModalActive
      },
      set (value) {
        this.$store.commit('SET_MODAL_ACTIVE', value)
      }
    },
    currentModal () {
      return this.$store.state.currentModal
    }
  }
}
</script>

