<template>
  <div id="site-wrapper" :class="nav">
    <b-modal :active.sync="currentModalActive" v-bind="globalModalProps">
      <component v-bind:is="currentModal" v-bind="currentModalProps"></component>
    </b-modal>
    <nav v-show="$store.state.bottomNavbar" class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation" style="border-top:1px solid rgb(151, 151, 151); z-index:999;">
      <div class="navbar-menu is-hidden-desktop" style="display:block;">
        <div class="level is-mobile">
            <div class="level-left">
              <div class="level-item">
              </div>
            </div>
            <div class="level-right">
                <div v-if="whichButton('skip')" class="level-item">
                    <button @click="skip" class="button is-white">{{$t('actions.skip')}}</button>
                </div>
                <div v-if="whichButton('cancel')" class="level-item">
                    <button @click="cancel" class="button is-white">{{$t('actions.cancel')}}</button>
                </div>
                <div v-if="whichButton('prev')" class="level-item">
                    <button  @click="prevStep" class="button is-white" :disabled="$store.state.disablePrevStep">{{$t('actions.prev')}}</button>
                </div>
                <div v-if="whichButton('next')" class="level-item">
                    <button  @click="nextStep" class="button is-white" :disabled="$store.state.disableNextStep">{{$t('actions.next')}}</button>
                </div>
                <div class="level-item">
                    <button @click="save" class="button is-info" :disabled="$store.state.disablePostTaskRun">
                      <span v-if="$route.path.indexOf('questions') !== -1">{{$t('actions.save')}}</span>
                      <span v-else>{{$t('actions.submit')}}</span>
                    </button>
                </div>
            </div>
        </div>
      </div>
      <div class="navbar-menu is-hidden-touch">
        <div class="navbar-end">
            <div v-if="whichButton('skip')" id="skip" class="navbar-item">
                <button @click="skip" class="button is-white">{{$t('actions.skip')}}</button>
            </div>
            <div v-if="whichButton('cancel')" id="cancel" class="navbar-item">
                <button @click="cancel" class="button is-white">{{$t('actions.cancel')}}</button>
            </div>
            <div v-if="whichButton('prev')" id="prev" class="navbar-item">
                <button  @click="prevStep" class="button is-white" :disabled="$store.state.disablePrevStep">{{$t('actions.prev')}}</button>
            </div>
            <div v-if="whichButton('next')" id="next" class="navbar-item">
                <button  @click="nextStep" class="button is-white" :disabled="$store.state.disableNextStep">{{$t('actions.next')}}</button>
            </div>
          <div class="navbar-item">
            <button @click="save" class="button is-info" :disabled="$store.state.disablePostTaskRun">
                      <span v-if="$route.path.indexOf('questions') !== -1">{{$t('actions.save')}}</span>
                      <span v-else>{{$t('actions.submit')}}</span>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <div id="site-canvas" >
      <div id="site-menu" @click="toggleNav">
        <app-nav></app-nav>
      </div>
      <Sitecanvas/>
      <nuxt/>
    </div>
    <NoSSR>
      <CookieLaw theme="algo" :buttonText="$t('price.accept')">
        <div slot="message" class="cookiesmessage">
          {{$t('price.cookies')}} <nuxt-link to="/cookies">{{$t('price.cookiesinfo')}}</nuxt-link>
          <a href="https://google.com" class="button is-black" style="border-radius: 0px; margin-top: 15px;">{{$t('price.rechazar')}}</a>
        </div>
      </CookieLaw>
    </NoSSR>
  </div>
</template>
<script>
import Sitecanvas from '~/components/SiteCanvas.vue'
import AppNav from '~/components/Nav'
import basic from '@/mixins/basic.js'
import NoSSR from 'vue-no-ssr'
import CookieLaw from 'vue-cookie-law'
import _ from 'lodash'
export default {
  mixins: [basic],
  data () {
    return {
      viewsWithoutNav: [
        '/account/signin',
        '/account/register'
      ]
    }
  },
  components: { AppNav, Sitecanvas, NoSSR, CookieLaw },
  computed: {
    bottomNavbarButtons () {
      return this.$store.state.bottomNavbarButtons
    },
    globalModalProps () {
      return this.$store.state.globalModalProps
    },
    currentModalProps () {
      return this.$store.state.currentModalProps
    },
    currentModalActive: {
      get () {
        return this.$store.state.currentModalActive
      },
      set (value) {
        this.$store.commit('SET_MODAL_ACTIVE', value)
      }
    },
    currentModal () {
      return this.$store.state.currentModal
    },
    transparentNav () {
      return this.$store.state.transparentNav
    },
    nav () {
      return {'show-nav': this.showNav}
    },
    showNav () {
      return this.$store.getters.showNav
    },
    hideNav () {
      if (this.viewsWithoutNav.indexOf(this.$route.fullPath) !== -1) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    scrollDown () { console.log('down') },
    scrollUp () { console.log('up') },
    toggleNav () {
      this.$store.commit('TOGGLE_NAV')
    },
    whichButton (btn) {
      if (_.indexOf(this.bottomNavbarButtons, btn) !== -1) {
        return true
      } else {
        return false
      }
    },
    goBack () {
      if (this.$route.name !== 'index') {
        this.$router.push('/')
      }
    },
    save () {
      this.$store.commit('POST_TASK_RUN', true)
    },
    skip () {
      this.$store.commit('DEL_TASK', this.$store.getters.currentTask)
    },
    cancel () {
      this.$store.commit('BOTTOM_NAVBAR', false)
      // this.$store.commit('SET_PROJECT_NAV', false)
      if ((this.$route.name === 'questions')) {
        this.$store.commit('SET_MODAL_ACTIVE', false)
        this.$router.push('/')
        return
      }
      if ((this.$route.name === 'account-name-update') || (this.$route.name === 'account-name-questions')) {
        this.$store.commit('SET_MODAL_ACTIVE', false)
      } else {
        this.$router.push({name: 'project-slug', params: {slug: this.$store.state.project.short_name}})
      }
    },
    prevStep () {
      this.$store.commit('PREV_PROJECT_STEP')
    },
    nextStep () {
      this.$store.commit('NEXT_PROJECT_STEP')
    },
    yes () {
      this.$store.commit('UPDATE_TASKRUN_INFO', true)
      this.$store.commit('POST_TASK_RUN', true)
    },
    no () {
      this.$store.commit('UPDATE_TASKRUN_INFO', false)
      this.$store.commit('POST_TASK_RUN', true)
    }
  }
}
</script>
<style lang="scss">
@import "~/assets/colors.scss";

.is-circle {
  width:50px;
  height:50px;
  border-radius: 50%;
}
.Cookie--algo {
  background: #424851;
  color: white;
  padding: 1.250em;
}
.Cookie--algo .Cookie__button {
  color: white;
  background-color: $blue !important; 
  padding: 0.625em 3.125em;
}
.Cookie--algo div.Cookie__button:hover {
  background-color: $blue;
  padding: 0.625em 3.125em;
}

.Cookie--algo .Cookie__content > div > a {
  color: white;
  text-decoration: underline;
}
.cookiesmessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
