<template lang="pug">
  div
    b-modal(:active.sync="currentModalActive", v-bind="globalModalProps")
      component(v-bind:is="currentModal", v-bind="currentModalProps")
    .main(:class="{shadow: show}")
      .section(style="padding-top:20px; padding-bottom:20px;")
        nav.level.is-mobile
          .level-left
            .level-item(v-if="$route.name === 'index'", @click="showNav")
              transition(mode="out-in", name="bounce")
                div(key="open", v-if="!$store.state.showNav")
                  img(src="~/assets/img/nav-burger-white.svg")
                div(key="close", v-else)
                  img(src="~/assets/img/nav-burger-closed-white.svg")
            .level-item(v-else, @click="goBack")
              transition(name="appear", mode="out-in")
                b-icon(icon="arrow-left", type="is-white", size="is-medium")
      nuxt
    .nav(:class="{show: show}", @click="showNav", v-on:swipeleft="showNav", v-on:panleft="showNav")
      .sub
        app-nav
    no-ssr
      CookieLaw(theme="algo",:buttonText="$t('price.accept')")
        div(slot="message", class="cookiesmessage")
          span {{$t('price.cookies')}}
            nuxt-link(to="/cookies") {{$t('price.cookiesinfo')}}
            a(href="https://google.com",class="button is-black",style="border-radius: 0px; margin-top: 15px;") {{$t('price.rechazar')}}
</template>
<script>
import CookieLaw from 'vue-cookie-law'
import AppNav from '~/components/Nav'
export default {
  data () {
    return {
      show: false
    }
  },
  components: {CookieLaw, AppNav},
  methods: {
    goBack () {
      if (this.$route.name !== 'index') {
        this.$router.push('/')
      }
    },
    showNav () {
      this.show = !this.show
    }
  },
  computed: {
    globalModalProps () {
      return this.$store.state.globalModalProps
    },
    currentModalProps () {
      return this.$store.state.currentModalProps
    },
    currentModalActive: {
      get () {
        return this.$store.state.currentModalActive
      },
      set (value) {
        this.$store.commit('SET_MODAL_ACTIVE', value)
      }
    },
    currentModal () {
      return this.$store.state.currentModal
    }

  }
}
</script>
<style lang="scss" scoped>
.main {
  width: 100vw;
  transition: all 0.2 ease-in;
}

.shadow {
  filter: opacity(0.2);
  height: calc(100vh - 5px);
  overflow-y: hidden;
}

.nav {
    position: absolute;
    width: 100vw;
    height:  100vh;
    z-index:  9999;
    transform: translateX(-101vw);
    transition: all 0.2s ease-in;
    top: 0;
    left: 0;
}

.show {
    transform: translateX(0vw);
}

.sub {
    width: 300px;
    background: black;
    height: 100vh;
    box-shadow: 5px 0 5px rgba(0,0,0,.2);
    padding-top: 20px;
}
</style>
