<template lang="pug">
  div#site-wrapper.nav
    .container
      .level.is-mobile(style="margin-bottom:0;")
        .level-left
          .level-item.is-clickable(@click="goBack")
            div(style="padding: 0.75rem;")
              b-icon(key="back", icon="arrow-left", size="is-medium", type="is-white")
        .level-item(v-if="$store.state.showQuestions")
          button.button.is-primary(@click="newTask", :class="{'is-loading': $store.state.isLoading}") {{$t('price.newtask')}}
        .level-right
          .level-item
              span.contribs {{$store.state.userContribs}}
          .level-item
              img(style="width: 22px;", src="~/assets/flag-photo.svg")
      Price(v-if="$store.state.projects.length && $store.state.tasks.length")
        nuxt
      .loadingcontainer(v-else)
        img(src="/spinner.svg", style="width: 25vh;")

    NoSSR
      CookieLaw(theme="algo", :buttonText="$t('actions.accept')")
        div(slot="message") {{$t('home.cookies')}}
          nuxt-link(to="/cookies") {{$t('home.cookiesinfo')}}
</template>
<script>
import Sitecanvas from '~/components/SiteCanvas.vue'
import Price from '~/components/project/price.vue'
import AppNav from '~/components/Nav'
import AppFooter from '~/components/Footer'
import basic from '@/mixins/basic.js'
import NoSSR from 'vue-no-ssr'
import CookieLaw from 'vue-cookie-law'
import _ from 'lodash'
import contribute from '@/mixins/contribute.js'
import {preloadContributed} from '~/utils/utils.js'
export default {
  mixins: [basic, contribute],
  data () {
    return {
      isLoading: false,
      viewsWithoutNav: [
        '/account/signin',
        '/account/register'
      ]
    }
  },
  components: {
    AppNav,
    Sitecanvas,
    AppFooter,
    NoSSR,
    CookieLaw,
    Price
  },
  async mounted () {
    window.scrollTo(0, 0)
    this.$store.commit('set', {key: 'transitionName', val: 'zoom'})
    if (this.$store.state.tasks.length === 0) {
      let url = `api/task?info={"dhash": "${this.$route.params.dhash}"}&related=true&all=1`
      let tasks = await this.$axios.$get(url)
      this.$store.commit('set', {key: 'dhash', val: this.$route.params.dhash})
      let key = 'contributed'
      let trs = localStorage.getItem(key) ? JSON.parse(localStorage.getItem(key)) : []
      tasks = preloadContributed(tasks, trs)
      console.log(tasks)
      this.$store.commit('set', {key: 'tasks', val: tasks})
      this.$router.push({name: 'contribute-dhash', params: {dhash: this.$store.state.dhash}})
    }
  },

  computed: {
    bottomNavbarButtons () {
      return this.$store.state.bottomNavbarButtons
    },
    globalModalProps () {
      return this.$store.state.globalModalProps
    },
    currentModalProps () {
      return this.$store.state.currentModalProps
    },
    currentModalActive: {
      get () {
        return this.$store.state.currentModalActive
      },
      set (value) {
        this.$store.commit('SET_MODAL_ACTIVE', value)
      }
    },
    currentModal () {
      return this.$store.state.currentModal
    },
    transparentNav () {
      return this.$store.state.transparentNav
    },
    nav () {
      return {'show-nav': this.showNav}
    },
    showNav () {
      return this.$store.getters.showNav
    },
    hideNav () {
      if (this.viewsWithoutNav.indexOf(this.$route.fullPath) !== -1) {
        return true
      } else {
        return false
      }
    }
  },
  methods: {
    async newTask () {
      this.$store.commit('set', {key: 'isLoading', val: true})
      let projectId = this.$store.state.projects[0].id
      let lastId = this.$store.state.lastTaskId
      let url = `/api/task?project_id=${projectId}&last_id=${lastId}&limit=1`
      let task = await this.$axios.$get(url)
      if (task.length === 1) {
        task = task[0]
        this.$store.commit('set', {key: 'dhash', val: task.info.dhash})
        this.$store.commit('set', {key: 'lastTaskId', val: task.id})
        this.contribute()
      }
    },
    goBack () {
      if (this.$route.name === 'contribute-dhash') {
        this.$router.push('/')
      } else {
        this.$router.push({
          name: 'contribute-dhash',
          params: {
            dhash: this.$store.state.dhash
          }
        })
        this.$store.commit('set', {key: 'activeQuestion', val: ''})
        this.$store.commit('set', {key: 'showQuestions', val: true})
      }
    },
    scrollDown () { console.log('down') },
    scrollUp () { console.log('up') },
    toggleNav () {
      this.$store.commit('TOGGLE_NAV')
    },
    whichButton (btn) {
      if (_.indexOf(this.bottomNavbarButtons, btn) !== -1) {
        return true
      } else {
        return false
      }
    },
    save () {
      this.$store.commit('POST_TASK_RUN', true)
    },
    skip () {
      this.$store.commit('DEL_TASK', this.$store.getters.currentTask)
    },
    cancel () {
      this.$store.commit('BOTTOM_NAVBAR', false)
      // this.$store.commit('SET_PROJECT_NAV', false)
      if ((this.$route.name === 'questions')) {
        this.$store.commit('SET_MODAL_ACTIVE', false)
        this.$router.push('/')
        return
      }
      if ((this.$route.name === 'account-name-update') || (this.$route.name === 'account-name-questions')) {
        this.$store.commit('SET_MODAL_ACTIVE', false)
      } else {
        this.$router.push({name: 'project-slug', params: {slug: this.$store.state.project.short_name}})
      }
    },
    prevStep () {
      this.$store.commit('PREV_PROJECT_STEP')
    },
    nextStep () {
      this.$store.commit('NEXT_PROJECT_STEP')
    },
    yes () {
      this.$store.commit('UPDATE_TASKRUN_INFO', true)
      this.$store.commit('POST_TASK_RUN', true)
    },
    no () {
      this.$store.commit('UPDATE_TASKRUN_INFO', false)
      this.$store.commit('POST_TASK_RUN', true)
    }
  }
}
</script>
<style lang="scss">
@import '~assets/fonts';
@import '~assets/colors';

.contribs {
  font-family: $abrilfatface;
  color: white;
  font-size: 24px;
}

.is-circle {
  width:50px;
  height:50px;
  border-radius: 50%;
}
.Cookie--algo {
  background: #424851;
  color: white;
  padding: 1.250em;
}
.Cookie--algo .Cookie__button {
  color: white;
  background-color: #008f74 !important; 
  padding: 0.625em 3.125em;
}
.Cookie--algo div.Cookie__button:hover {
  background-color: #008f74;
  padding: 0.625em 3.125em;
}

.Cookie--algo .Cookie__content > div > a {
  color: white;
  text-decoration: underline;
}
.appear-enter-active {
  animation: appear-i .25s;
}

.appear-leave-active {
  animation: appear-i .2s reverse;
}
@keyframes appear-i {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.loadingcontainer {
  width: 100%;
  height: calc(100vh - 59px);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
}
</style>
