<template lang="pug">
  .section(style="background-color: white;")
    .container
      .content
        h1 Sobre el proyecto
        p Vamos a buscar todos los archivos que haya relacionados con el circo, en todos los formatos (fotos, vídeos, audios, periódicos, carteles, postales…) y vamos a digitalizarlos, clasificarlos e incorporar capas de información digital con la ayuda de ciudadanos y ciudadanas. Los datos resultantes de ese trabajo nos ayudarán a reconstruir de una forma más precisa y completa la memoria del circo.

        h2 Sobre nosotros

        p Factoría Cultural es una de las incubadoras de industrias culturales y creativas más grandes e innovadoras de nuestro país. Desde nuestra apertura en abril de 2014, ofrecemos formación experiencial para emprendedores en un ambiente interdisciplinar, con un fuerte acento en el aprendizaje, el liderazgo y la consecución de objetivos.  Tiene sede en Matadero Madrid, en Sevilla y en Murcia

        p En Factoría Cultural buscamos la innovación de las ICC mediante la facilitación de la transformación digital de las empresas e instituciones del ámbito cultural. Para ello, ofrecemos formación, desarrollamos tecnologías que ponemos a disposición de la comunidad de emprendedores, e instituciones de las ICC y diseñamos proyectos que vinculen tecnologías emergentes con estas instituciones culturales. 
          
        p Así surge la colaboración con Scifabric, los desarrolladores de Pybossa, una herramienta de crowdsourcing open source considerada como una de las mejores del mundo de su categoría. Con la experiencia que Scifabric ha tenido en Reino Unido aplicando Pybossa en proyectos culturales, en 2017 comienza la colaboración Factoría Cultural y Scifabric para llevar a cabo proyectos de recuperación de la memoria de las instituciones a través de la colaboración ciudadana.
          
        p El proyecto “La memoria del Circo” cuenta con la financiación del Ministerio de Cultura y Deporte. 

</template>
<script>
export default {
  scrollToTop: true
}
</script>
