<template lang="pug">
  .section(style="background-color: white;")
    .container
      .content
        h1 Bienvenida
        p Vivimos en un momento en el que tenemos la sensación de que toda la información que queramos consultar, que podamos necesitar, está a golpe de clic. Que Google nos puede contar todo lo que sucede o ha sucedido y que, incluso, a veces, se adelanta al futuro. Sin embargo, mucha de nuestra historia, de nuestro patrimonio cultural, permanece en cajas, en álbumes, en archivos olvidados que acumulan polvo y que corren el riesgo de desaparecer. Hay información bien conservada en instituciones pero que nunca ocupa los lugares prioritarios de digitalización. Hay documentos en casas que heredamos de nuestros antepasados y que ocupan espacio mientras pierden relevancia en la memoria familiar. Y hay una enorme cantidad de personas que están dispuestas a colaborar, con su tiempo, para que esos archivos se digitalicen y no se pierda en la memoria de los tiempos. El Circo forma parte de nuestra historia reciente. Conocerlo es completar el dibujo de una sociedad, de unos tiempos, de la historia de un área fundamental de las artes escénicas. Reconstruir la historia del Circo Price es reconstruir el siglo XX de la ciudad de Madrid. Y queremos, con la ayuda de todas y de todos, devolver a la ciudadanía la historia de su ciudad, de su circo, contada de una forma más completa. Bienvenidos y bienvenidas al Circo Price. Que comience la función. 

        h2 Carta de María Folguera
        p Todas y todos tenemos recuerdos asociados al circo. Encuentre usted a alguien que diga: “La palabra circo no me sugiere nada”. Imposible, ¿verdad? De forma colectiva, alimentamos visiones de circo hechas de experiencias vividas, de fantasías o de realidades muy concretas. 

        p Con este proyecto queremos recuperar y reivindicar el cuidado de una memoria común en torno al circo, a los circos que hemos vivido y conocido. Nombres, lugares, disciplinas y combinaciones insospechadas, trabajo duro, Historia y talento. Nos embarcamos en la tarea de reconstruir el puzzle de imágenes veces perdidas, a veces olvidadas, a veces ignoradas de un arte rico en significados, imprescindible para conocernos mejor. 

        p Este es un proyecto abierto a toda persona que quiera contribuir con su curiosidad. Entre todas y todos los participantes ayudaremos a formar un puzzle atípico, porque no aspira a una imagen única, cerrada y final, sino que se entiende sí mismo como una permanente construcción en juego. Porque la memoria colectiva no tiene límites, y las artes del circo tampoco.​

        .level.is-mobile
          .level-left
            .level-item
                img.is-circle(src="~/assets/img/maria.jpeg")
            .level-item
              div
                .nombre María Folguera
                .posicion Directora artística del teatro Circo Price de Madrid


</template>
<script>
export default {
  scrollToTop: true
}
</script>
<style lang="scss">
.posicion {
  font-size: 14px;
  max-width: 50vw;
}
.is-circle {
  width: 70px;
  height: 70px;
}
</style>
