<template lang="pug">
  .section(style="background-color: white;")
    .container
        .content(v-html="cookies")
</template>
<script>
import cookiesEs from '~/data/cookies_es.md'
import cookiesEn from '~/data/cookies_en.md'
export default {
  scrollToTop: true,
  computed: {
    cookies () {
      if (this.$store.state.locale === 'es') {
        return cookiesEs
      } else {
        return cookiesEn
      }
    }
  }
}
</script>
