<template lang="pug">
  div
    .centered
      img.logo(src="~/assets/logo.svg")
      img.star(src="~/assets/home/home-star.svg")
    .container.home.has-text-centered(style="margin-top: 20px;padding-top:0;")
      h1.title.is-4.has-text-white Vamos a recuperar la memoria del Circo
      .columns.is-mobile
        .column
          .stats
            .nmb {{$store.getters.categoryStats.n_tasks}}
            .nmbTag Imágenes
        .column
          .stats
            .nmb {{$store.getters.categoryStats.n_task_runs}}
            .nmbTag Clasificaciones
        .column
          .stats
            .nmb {{$store.getters.categoryStats.n_volunteers}}
            .nmbTag Participaciones

      button.button.is-white.has-text-weight-bold.is-uppercase(@click="goTo", style="margin-top: 15px;", :class="{'is-loading': $store.state.isLoading}") {{$t('actions.contribute')}}
    .container.funcionprice
      img.megaphone(src="~/assets/home/home-megaphone.svg")
      .outline1
        .outline2
          .has-text-centered
          h3.title.has-text-white La última función del PRICE
          p El 12 de abril de 1970 el antiguo Circo Price cerraba las puertas con una vibrante última función. Tenemos fotos de aquella noche mágica y te necesitamos para que nos ayudes a contar qué hay en cada una de ellas. 
          button.button.is-medium.is-white.has-text-weight-bold.is-uppercase(@click="goTo", style="margin-top: 15px;", :class="{'is-loading': $store.state.isLoading}") {{$t('actions.contribute')}}

    div(style="background-color: white;")
      .container.white
        img.photos(src="~assets/home/home-photos.svg")
        .one.list Tenemos un montón de fotos descatalogadas

        img.question(src="~/assets/home/home-people-question.svg")
        .one.list Necesitamos tu ayuda para clasificarlas y averiguar quiénes son los artistas y los objetos que vemos

        img.bike(src="~/assets/home/home-bicicleta.svg")
        p.bicicleta Bicicleta
        .one.list Esto nos va a permitir digitalizar y dar acceso a la historia del circo


    .container.home.has-text-centered
      h3.title.is-1.has-text-white LA MEMORIA COLECTIVA NO TIENE LÍMITES Y LAS ARTES CIRCENSES, TAMPOCO
      .one Con este proyecto queremos empezar a recuperar la memoria del Circo a través de los archivos que hay en las instituciones, los archivos que tienen las personas en sus casas... 
      .one Y, mediante la colaboración de todas aquellas y todos aquellos interesados en ayudarnos con su tiempo, transformar esos archivos en conocimiento sobre la historia de nuestro patrimonio inmaterial. 

      .has-text-centered
        h4.title.has-text-white(style="font-size:12px; margin-top: 74px;") Un proyecto de
      .level.is-mobile
        .level-item
          div
            img(src="~/assets/home/factoria-white.svg", style="width:200px; margin-top:14px;")
      .has-text-centered
        h4.title.has-text-white(style="font-size:12px; margin-top: 74px;") En colaboración con
      .level.is-mobile
        .level-item
          div
            img(src="~/assets/home/price.svg", style="width:200px; margin-top:14px;")
      .has-text-centered
        h4.title.has-text-white(style="font-size:12px; margin-top: 74px;") Financiado por
      .level.is-mobile
        .level-item
          div
            img(src="~/assets/home/ministerio.svg", style="width:290px; margin-top:14px;")

    div(style="background-color: white;")
      .container.white.has-text-centered(style="padding-bottom: 50px;")
        h3.title.has-text-black.quecomience(style="margin-top:55px; font-size:32px;") ¡Que comience la función!
        button.button.is-medium.is-uppercase.has-text-weight-bold.is-black(@click="goTo", style="margin-top: 15px;", :class="{'is-loading': $store.state.isLoading}") {{$t('actions.contribute')}}
    .level.is-mobile.share
      .level-item
        p Compartir
      .level-item
        social-sharing(
                      :url="serverName",
                      title="La memoria del circo",
                      description="Vamos a recuperar la memoria del circo entre todos, ¿nos ayudas?",
                      quote="Vamos a recuperar la memoria del circo entre todos, ¿nos ayudas?",
                      hashtags="circo,crowdsourcing",
                      twitter-user="Factoriamadrid",
                      inline-template)
          div.social-wrapper
            network(network="facebook")
              button.button.is-transparent
                b-icon(icon="facebook", type="is-black")
            network(network="twitter")
              button.button.is-transparent
                b-icon(icon="twitter", type="is-black")
            network(network="whatsapp")
              button.button.is-transparent
                b-icon(icon="whatsapp", type="is-black")
</template>
<script>
import localConfig from '~/localConfig.js'
import basic from '@/mixins/basic.js'
import contribute from '@/mixins/contribute.js'
import price from '~/components/project/price.vue'
export default {
  mixins: [basic, contribute],
  layout: 'nueva',
  components: { price },
  methods: {
    goTo () {
      this.$router.push('/onboarding')
    }
  },
  async asyncData ({app, store}) {
    let url = `/api/task?project_id=${store.state.projects[0].id}&limit=1`
    let task = await app.$axios.$get(url)
    if (task.length === 1) {
      task = task[0]
      store.commit('set', {key: 'dhash', val: task.info.dhash})
      store.commit('set', {key: 'lastTaskId', val: task.id})
    }
  },
  computed: {
    serverName () {
      return localConfig.serverName
    },
    canModify () {
      if (this.currentUser !== null && (this.currentUser.pro || this.currentUser.admin || this.currentUser.id === this.project.owner_id)) {
        return true
      } else {
        return false
      }
    },
    project () {
      if (this.data.hasOwnProperty('project')) {
        return this.data.project
      } else {
        return {}
      }
    },
    projectType () {
      if (this.project.info.hasOwnProperty('task_presenter')) {
        return this.project.info.task_presenter.toLowerCase()
      } else {
        return ''
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~assets/fonts';
@import '~assets/colors';

.home {
  padding: 33px;
  padding-bottom: 70px; 
  padding-top: 70px; 
  color: white;
  background-color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    .nmb {
      font-size: 39px;
      font-family: $abrilfatface;
    }
    .nmbTag {
      font-size: 14px;
    }
  }
}

.funcionprice {
  background-color: $black;
  padding: 14px;
  padding-bottom: 70px;
  .outline1, .outline2 {
    border: 1px solid white;
  }
  .outline2 {
    padding: 18px;
    transform: translate(5px, 5px);
    color: white;
    text-align: center;
    .title {
      font-size: 20px;
    }
  }
}

.white {
  background-color: white;
  padding: 16px;
  padding-top:70px;
  padding-bottom:70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .firstarrow {
    position: absolute;
    top: 100px;
    left: 53px;
    display: none;
  }
  .secondarrow {
    position: absolute;
    top:250px;
    right: 29px;
    display: none;
  }
}

.one {
  margin-top: 23px;
  text-align: center;
}

@media(min-width: 512px) {
  .firstarrow, .secondarrow {
    display: none;
  }
  .one {
    width: 40%;
  }
  .funcionprice {
    width: 40%;
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  width: 281px;
  height: 219px;
}

.star {
  width: 253px;
  height: 36px;
  margin-top: 20px;
}

.megaphone {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photos, .question, .bike {
  margin-top: 15px;
}

.photos {
  width: 196px;
  height: 171px;
}

.question {
  width: 192px;
  height: 182px;
  margin-left: 75px;
}

.bike {
  width: 88px;
  height: 120px;
}

.bicicleta {
  font-family: $roboto;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.list{
  margin-top: 7px;
  margin-bottom: 40px;
}

.quecomience {
  font-family: $bevan;
  color: $red !important;
  line-height: 1.5;
}

.share {
  border-top: 1px solid #979797;
  padding: 33px;
  background-color: white;
  color: black;
}

.social-wrapper {
      display: flex;
    justify-content: space-around;
    flex-grow: 1;
}
</style>
