<template lang="pug">
  div(style="padding:54px 15px; height:100vh;")
    no-ssr
      carousel(:perPage="1")
        slide
          .centered
            img(src="~/assets/home/home-carpa.svg")
            h1.title-1 Bienvenido a la 
            h2.title-2 última función del PRICE
            p(style="margin-top:70px;") Ayúdanos a identificar la disciplina, los artistas y los objetos que verás en las fotos.
        slide
          .centered
            img(src="~/assets/home/home-people-question2.svg", style="width:232px; height:372px;")
            p Responde aquellas preguntas marcadas en color rojo. Las resueltas se mostrarán en verde.
            p ¡Prueba y no tengas miedo a equivocarte!
        slide
          .centered
            img(src="~/assets/home/home-check-question.svg", style="width: 291px;")
            p(style="margin-top: 70px;") Puedes resolver tantas preguntas como quieras accediendo a otras fotos.
            p ¡Cuantas más mejor!
        slide
          .centered
            img(src="~/assets/home/home-acrobacia.svg", style="width: 232px;")
            p(style="margin-top: 70px;") Tus respuestas estarán indicadas en azul. Una vez hayan sido respondidas por varias personas la solución será mostrada en verde.
            button.button.is-medium.is-black(@click="contribute", style="margin-top:15px;") ¡Vamos!
    .centered
      a(@click="contribute", style="margin-top:15px;") Saltar
</template>
<script>
import contribute from '@/mixins/contribute.js'
export default {
  layout: 'onboarding',
  mixins: [contribute]
}
</script>
<style lang="scss" scoped>
@import '~/assets/colors.scss';
@import '~/assets/fonts.scss';

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title-1 {
  font-family: $roboto;
  color: $blue;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
}
.title-2 {
  font-family: $bevan;
    color: $red;
    line-height: 1.1;
    text-transform: uppercase;
    width: 160px;
    position: absolute;
    text-align: center;
    font-size: 24px;
    margin-top: 54px;
}
</style>
