<template lang="pug">
  .section(style="background-color: white;")
    .container
      .content 
        h1 Siguientes pasos
        p Este es el primer paso de un proyecto mayor. Vamos a empezar a recuperar la Memoria del Circo recuperando la Memoria del Price, uno de los circos más emblemáticos de su tiempo. La recuperaremos trabajando sobre los archivos que tienen el propio Price. Sobre los archivos de asociaciones y amigos del Price. Y sobre archivos de otras instituciones que se incorporarán progresivamente al proyecto. 

        p Recuperar la Memoria del Price es recuperar parte de la Memoria del Circo; de esta forma, cuando demos el siguiente paso hacia la memoria del circo, de todos los circos, ya habrá parte de esa huella mnésica dibujada. 

        p Trabajaremos con fotos, con postales, con pósteres, con vídeos, con audios, con textos… Con todos aquellos documentos multimedia que vayan llegando a nuestras manos pendientes de describir y clasificar. 


      
</template>
<script>
export default {
  scrollToTop: true
}
</script>
